.editor {
    /* min-width: 960px; */
    width: 100%;
}

.editor__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 10px 0;
}

.editor__titleInput {
    width: 100%;
}

.editor__bottomBar {
    padding: 10px 0;
}

.editor__editKey {
    padding: 8px 0;
}

.editor__editKeyInput {
    width: 100%;
}

.editor__submitButton {
    width: 100%;
    height: 50px;
}

@media screen and (min-width: 1160px) {

    .editor__bottomBar {
        padding: 10px 0 0 0;
    }

}
