.editor {
    /* min-width: 960px; */
    width: 100%;
}

.editor__wrapper {
  margin: 0 4%;
}

.editor__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 10px 0;
}

.editor__titleInput {
    width: 100%;
    margin: 0 0 0 10px;
}

.editor__bottomBar {
    display: flex;
    justify-content: right;
    padding: 10px;
}
